.cards-articles > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.cards-articles > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards-articles .cards-articles-card-body {
  margin: 16px;
}

.cards-articles .cards-articles-card-image {
  line-height: 0;
}

.cards-articles > ul > li img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
