.accordion-faq details {
  border-bottom: 1px solid #dadada;
}

.accordion-faq details:first-of-type {
  border-top: 1px solid #dadada;
}

.accordion-faq details p {
  margin-bottom: 0.8em;
}

.accordion-faq details summary {
  position: relative;
  padding: 16px 0;
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  font-size: 1.1em;
}

.accordion-faq details[open] summary {
  font-weight: bold;
}

.accordion-faq details summary:focus,
.accordion-faq details summary:hover {
  background-color: var(--light-color);
}

.accordion-faq details summary::-webkit-details-marker {
  display: none;
}

.accordion-faq details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 8px;
  height: 8px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion-faq details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion-faq details .accordion-faq-item-body {
  padding: 0 0 16px 0;
}
